body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #1a4c68;
  margin: 0px;
  display: flex;
  align-items: center;
}

.header-logo {
  background-image: url("./img/completed-task.png");
  background-repeat: no-repeat;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.text-logo {
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: xx-large;
  margin-left: 25px;
}

.input-bar {
  position: absolute;
  right: 8px;
  top: 62px;
}

.list {
  padding: 0px;
  margin: 0px;
}

.list-item {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  margin-top: 1px;
  display: flex;
  align-items: center !important;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  color: #1a4c68;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item-text {
  margin-left: 20px;
}

.list-item-title {
  font-size: x-large;
  font-weight: bold;
  color: #1a4c68;
  margin-left: 14px;
}

.list-icon {
  margin-left: 14px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

.list-icon-todo {
  background-image: url("./img/clock.png");
}

.list-icon-completed {
  background-image: url("./img/flag.png");
}

.display-list-item-op {
  display: flex;
  position: absolute;
  right: 8px;
  align-items: center !important;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.hide-list-item-op {
  display: flex;
  position: absolute;
  right: 8px;
  align-items: center !important;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.display-list-item-border {
  box-shadow: inset 0px 0px 2px 1px rgba(26, 92, 104, 0.71);
}

.hide-list-item-border {
  box-shadow: 0px;
}

.list-item-text-none {
  text-decoration: none;
}

.list-item-text-line-through {
  text-decoration: line-through;
}
.op-btn {
  font-size: x-large;
  margin-left: 12px;
}

.rmvBtn:hover {
  color: red;
}

.starBtn:hover {
  color: yellow;
}

.Todolist {
  height: 100%;
  width: 50%;
  border-right: 2px solid black;
  padding: 0;
  margin: 0;
}

.comepleteTask {
  height: 100%;
  width: 50%;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid black;
  width: 100%;
}

.listItemTxt {
  padding: 5px;
  font-size: 20px;
}

.listWrap {
  display: flex;
  height: 80%;
}

.listHeader {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}
